body{
    border-style: dashed;
     border-color: #034c3c;
 }
 ul {
   margin: 10px;
   padding: 12px;
   overflow: hidden;
   background-color: #fab4bc;
   font-family: Arial Verdana Helvetica sans-serif;
   font-size: 35px;
   font-weight: bold;
   border-style: solid;
   border-color:#00665a;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: #2c6600;
   text-align: center;
   padding: 20px 40px;
   text-decoration: italic;
 }
 
 li a:hover:not(.active) {
   background-color: #7ee4f9;
 }
 
 .active {
   background-color: #046daa;
 }
 h1 {
     text-align: center;
    text-shadow: 2px 2px rgb(238, 91, 196);
   color:#5a6600;
  font-family: papyrus, fantasy;
   font-size: 45px;
    text-decoration: underline;
   padding-top: 30px;
    padding-bottom: 30px;
 }
 img {
     display: block;
     margin: auto;
     width: 30%;
 }
 .responsive {
   width: 100%;
   height: auto;
 }
 
 p {
    font-family: Georgia, serif;
    font-size: 20px;
    text-shadow: 1px 1px #16fd72;
    font-weight: bold;
    color: #a00a0a;
    padding-left: 30px;
    padding-right: 30px;
 }
 h2{  
    font-family: Brush Script, cursive;
    font-size: 40px;
    text-shadow: 1px 1px #16c3fd;
    text-align: center;
    text-decoration: underline;
     font-style: italic;
    color: #600a1f;
    margin: 10px;
    
 }
 